<vg-player>
    
    <vg-buffering></vg-buffering>
    <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>
  
        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
  
        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
  
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
  
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
  
        <vg-fullscreen></vg-fullscreen>
    </vg-controls>
  
    <!-- <video #media [vgMedia]="media" id="singleVideo" [vgHlsHeaders]="headers" [vgHls]="'https://3d84a54ba40c.us-west-2.playback.live-video.net/api/video/v1/us-west-2.834277921230.channel.MYUTNoKQbTpx.m3u8'" type="video/mp4" crossorigin>
    
    </video> -->
    <video #media [vgMedia]="media" id="singleVideo" [vgHls]="awsPath" preload="auto" crossorigin="anonymous">
        
    </video>
 </vg-player>