<!-- end page-transition -->
<nav class="site-navigation">
    <div class="layer"></div>
    <!-- end layer -->
    <div class="inner">
      <ul data-splitting>
        <li><a>HOME</a> <small>All About Us</small> </li>
        <li><a>STUDIO</a> <small>All About Us</small> </li>
        <li><a>SHOWCASES</a> <small>Our all projects</small> </li>
        <li><a>CONTACT</a> <small>Say hello</small> </li>
        <li><a (click)="goLive()">LIVE</a> <small>Say hello</small> </li>
      </ul>
    </div>
    <!-- end inner -->
  </nav>
  <!-- end site-navigation -->
  <div class="social-media">
    <div class="layer"> </div>
    <!-- end layer -->
    <div class="inner">
      <h5>Social Share </h5>
      <ul>
        <li><a><i class="fa fa-facebook"></i></a></li>
        <li><a><i class="fa fa-twitter"></i></a></li>
        <li><a><i class="fa fa-linkedin-in"></i></a></li>
        <li><a><i class="fa fa-google-plus-g"></i></a></li>
        <li><a><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
  </div>
  